.work-form{
    width: 500px;
    height: 700px;

    position: fixed;

    right: 50px;
    top: 10px;

    border: 2px solid black;

    display: none;

    flex-direction: column;
    justify-content: start;
    align-items: center;

}


#capture-area-2 {
    position: absolute;
    background: rgba(0, 128, 0, 0.2); /* 연한 녹색 배경 */
    border: 2px dashed #008000; /* 녹색 테두리 */
    display: none;
    z-index: 9999;
}